@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#img1 {
 grid-area: ;
 background-image: ;
 background-size: cover
}

#img2 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

#img3 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

#img4 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

#img5 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

#img6 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

#img7 {
 grid-area: ;
 background-image: ;
 background-size: cover    
}

@media only screen and (min-width: 600px) {

    // Variable overrides first
    $enable-shadows: true;
    $primary: rgb(38, 174, 228);
    $light-emphasis: white;
    $prefix: "mo-";

    // Then import Bootstrap
    @import "../node_modules/bootstrap/scss/bootstrap";
    
} 