// GENERAL
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$enable-grid-classes: false;
$enable-cssgrid: true;
$enable-shadows: true;

// COLOR VARIABLES
$purple-dark: #6c5ce7;
$yellow-dark: #fdcb6e;
$pink-dark: #E84393;
$blue-dark: #0984E3;
$green-dark: #00B894;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-image: url("/assets/images/dots.svg");
  background-position: top right;
  background-size: 300px auto;
  background-repeat: no-repeat;
}

#bg-img {
  position: absolute;
  background-color: #ffeaa7;
  opacity: 0.5;
  transform: translateX(43vw) translateY(-45vh) rotate(-45deg);
  border-radius: 99px;
  width: 1200px;
  height: 750px;
  z-index: -1;
}

.navbar {
  position: sticky;
  top: 0;
}

.nav-link {
  color: #6c5ce7;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-active {
  font-weight: bolder;
  text-decoration: none;
  line-height: 250%;
  color: black;
}

.nav-breaker {
  color: $yellow-dark;
  line-height: 250%;
}

#signin-button {
  font-weight: bolder;
  line-height: 24px;
  text-align: center;
  
  height: 50px;
  width: 130px;

  border-radius: 25px;
}

.text-highlight {
  background: #d7f5ec;
  color: $green-dark;
  padding: 0 6px;
  border-radius: 6px;
}

// HERO GRID
.hero-section {
  width: 100vw;
  height: 70vh;
}

.gallery-grid {
  display: grid;
  height: 55vh;
  min-width: 700px;
  max-width: 100vw;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 14px;
  margin-bottom: 2vh;
}

// GRID AREAS
.grid1 {
  grid-area: 1 / 1 / 3 / 3;
  height: 80px;
  border-radius: 16px;
  margin: 10px;
  color: black;
  text-align: left;
}

.grid2 {
  grid-area: 10 / 1 / 11 / 3;
  margin: 10px;
  align-items: center;
}

.grid-button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: $purple-dark;
  align-items: center;
}

.grid3 {
  grid-area: 3 / 1 / 10 / 3;
  background-color: $yellow-dark;
  border-radius: 16px;
  height: 100%;
}

.grid3 > small {
  margin: 10px;
}

.grid4 {
  grid-area: 1 / 3 / 7 / 6;
  background-color: $green-dark;
  border-radius: 16px;

  color: white;
}

.grid5 {
  grid-area: 7 / 3 / 11 / 5;
  background-color: $pink-dark;
  border-radius: 16px;
}

.grid6 {
  grid-area: 7 / 5 / 12 / 7;
  background-color: $purple-dark;
  border-radius: 16px;

  color: white;
}

.grid7 {
  grid-area: 4 / 6 / 7 / 7;
  background-color: #A29BFE;
  border-radius: 16px;
}

.grid8 {
  grid-area: 4 / 7 / 7 / 8;
  background-color: $blue-dark;
  background-image: url("/assets/images/shoe.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.grid9 {
  grid-area: 7 / 7 / 10 / 8;
  background-color: #FF7675;
  border-radius: 16px;
}

.grid10 {
  grid-area: 2 / 6 / 4 / 8;
  border-radius: 16px;
  text-align: left;
}

// PRICING
.pricing-card {
  border-radius: 16px;
  padding: 24px;
  height: 100%;
}

.pricing-card ul li {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.pricing-card img {
  padding-right: 10px;
}

.pricing-card.featured {
  transform: scale(1.02);
}

// FEATURES
.features-section h4 {
  font-size: 32px;
  font-weight: bolder;
  line-height: 35px;
}

.features-section .text-muted {
  padding-right: 20px;
  line-height: 25px;
}

#features-blurb {
  font-size: 24px;
  padding-right: 100px;
}

.feature-button {
  width: 130px;
  height: 42px;
  
  border: 1px #ADADAD solid;
  border-radius: 15px;
  background: none;

  color: $purple-dark;
  font-weight: bolder;
}

.feature-button:hover {
  background-color: $purple-dark;
  color: white;
}

.feature-icon {
  height:60px;
  width: 60px;
  border-radius: 30px;

  padding: 5px;
  margin-bottom: 15px;
}

#support-icon {
  background-color: $pink-dark;
}

#sales-icon {
  background-color: $blue-dark;
}

#components-icon {
  background-color: $purple-dark;
}

#swap-icon {
  background-color: $green-dark;
}
// FOOTER
.footer-section {
  background-image: url("/assets/images/Wave.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

// RESPONSIVE TWEAKS
@media (min-width: 768px) {
  .grid-item {
    min-height: 120px;
  }
}
